{% extends 'home/base.html' %}
{% block title %}Ledgers{% endblock %}
{% block ledger %} active {% endblock %}
{% block name %}{{ name }}{% endblock %}
{% block year %}{{ year }}{% endblock %}
{% block body %}
    {{ error }}
    <div class="container">
  <ul class="nav nav-pills">
    <li class="{{ all }}"><a data-toggle="pill" href="{% url 'home:ledger_home' id %}"><h4>ALL</h4></a></li>
    <li class="{{ supplier }}"><a data-toggle="pill" href="{% url 'home:filtersuppliers' id %}"><h4>Suppliers</h4></a></li>
      <li class="{{ customer }}"><a data-toggle="pill" href="{% url 'home:filtercustomer' id %}"><h4>Customers</h4></a></li>
      <li class="{{ employee }}"><a data-toggle="pill" href="{% url 'home:filteremployee' id %}"><h4>Employees</h4></a></li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'home:add_ledger' id %}">
        <button type="submit" class="btn btn-success" >
            <h5 style="color:black;">Add Ledger</h5>
        </button>
    </a>
      </ul>
</div>
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Balance</th>
                        <th>Delete</th>
                        <th>Edit</th>
                        <th>Info</th>
                    </tr>
                </thead>
                <tbody>
                {% for ledger in ledgers %}

                    <tr>
                        <td><a href="{% url 'transaction:ledger_details' id ledger.id%}"><h4>{{ledger.name}}</h4></a></td>

                        <td>
                            <span class="badge"><h4>{{ ledger.type }}</h4></span></a>
                        </td>

                        <td>&#8377;&nbsp;&nbsp;<b>{{ ledger.amount }}</b>&nbsp;&nbsp;&nbsp;{% if ledger.amount != 0.0 %}<span class="badge">{{ ledger.dominant }}</span>{% endif %}
                        </td>
                    <td>
<form action="{% url 'home:delete_ledger' id ledger.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button {% if ledger.name != 'Cash' %}type="submit"{% endif %}
                            {% if ledger.name == 'Cash' %}type="button"{% endif %}
                            class="btn btn-danger btn-sm-2" {% if ledger.name != 'Cash' %} onclick="return confirm('Delete ledger {{ ledger.name }}\n\n Are you sure ?')" {% endif %}>
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>

                </form>
                    </td>
                    <td>
                {% if ledger.name != 'Cash' %}<a href="{% url 'home:update_ledger' id ledger.id %}">{% endif %}
                    <button class="btn btn-success">Edit</button></a>
                    </td>
                    <td>
                        <form action="{% url 'home:ledger_info' id ledger.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}

                        <button class="btn btn-primary btn-sm-2">
                        <span class="glyphicon glyphicon-info-sign"></span></td>
                    </button>
                    </form>
                    </tr>
                    </tr>
                    </a>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}