<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>FIRMS</title>
</head>
<script>
    function verify(pass,firm_id) {
        var password = prompt('Enter Password ');
        if (password == pass){
            alert('Successful. Firm has been deleted');
            var url = '/firm/'+firm_id.toString()+'/delete_firm';
            window.location = url;
        }
        else {
            alert('Oops! Wrong Password!!');
        }
    }
    function verify_edit(pass,firm_id) {
        alert(pass);
        var password = prompt('Enter Password ');
        if (password == pass){
            alert('Successful. You can now update firm details.');
            var url = '/firm/'+firm_id.toString()+'/update_firm';
            window.location = url;
        }
        else {
            alert('Oops! Wrong Password!!');
        }
    }
</script>
<body>
<div class="container">
	<div class="jumbotron">
        <h3 align="center"><b><u>FIRM'S DETAILS</u></b></h3>
        <h4 align="right">
<a href="{% url 'firm:firm_login' %}">
<button type="button" class="btn btn-success">Login</button>
</a>
</h4>
    </div>
</div>
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Firm Name</th>
                        <th>Financial Year</th>
                        <th>Date of creation</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                {% for firm in firms %}
                    <tr>
                        <td>{{firm.name}}</td>
                        <td>{{ firm.year }}</td>
                        <td>{{ firm.created }}</td>
                     <td>

                    <button type="button" class="btn btn-danger btn-sm-2" onclick="verify('{{ firm.password }}','{{ firm.id }}')">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>

                     </td>
                        <td>

                    <button type="button" class="btn btn-success" onclick="verify_edit('{{ firm.password }}','{{ firm.id }}')">Edit</button>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

<!--

-->
