{% extends 'home/base.html' %}
{% block title %}Ledger Transactions{% endblock %}
{% block body %}
    <h3 align="center"><i><b>{{ ledger.name }}</b> - <span class="badge">{{ ledger.type }}</span></i>
        <h3 align="right">
    <a href="{% url 'transaction:add_transaction' id 1 ledger.id%}">
    <button type="button" class="btn btn-success btn-sm-4">
        <span class="glyphicon glyphicon-plus-sign">Impress</span>
    </button></a>
    <a href="{% url 'transaction:add_transaction' id 2 ledger.id%}">
    <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-plus-sign">Expense</span>
    </button></a>
    <a href="{% url 'transaction:add_transaction' id 3 ledger.id %}">
    <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-plus-sign">Receive</span>
    </button></a>
</h3>

<br>

<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Transaction Mode</th>
                        <th>Date of Transaction</th>
                        {% if ledger.name != 'Cash' %}<th>Voucher Number</th>{% endif %}

                        <th>Credit</th>
                        <th>Debit</th>
                    </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td><h5 style="color:blue">{{ transaction.description }}</h5></td>
                        <td>{{ transaction.mode }}
                        </td>
                        <td>{{ transaction.created }}</td>

                        {% if ledger.name != 'Cash' %}<td>{{ transaction.voucher.voucher_no }}</td>{% endif %}
                        {% if transaction.type == 'Credit' %}<td>
                            <h5 style="color:blue">&#8377;&nbsp;&nbsp;&nbsp;{{ transaction.amount }}</h5></td>{% endif %}
                        {% if transaction.type == 'Debit' %}<td> ---</td>{% endif %}
                        {% if transaction.type == 'Debit' %}<td>
                            <h5 style="color:red">&#8377;&nbsp;&nbsp;&nbsp;{{ transaction.amount }}</h5></td>{% endif %}
                        {% if transaction.type == 'Credit' %}<td> ---</td>{% endif %}
                        <td>

                    <tr>

                {% endfor %}
<div class="jumbotron">
                <h4 align="center"><u>BALANCE</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &#8377;&nbsp;&nbsp;<b>{{ amount }}</b> &nbsp;&nbsp;&nbsp;{{ type }}</h5><br>
</div>
                </tbody>
            </table>

        </div>
    </div>
</div>


{% endblock %}