{% extends 'home/base.html' %}
{% block title %}Ledger Transactions{% endblock %}
{% block body %}
    <h2 align="center" style="font-family: 'Nimbus Mono L';color: darkblue">{{ error }}</h2>
    <h3 align="center"><i><b>{{ ledger.name }}</b> - <span class="badge">{{ ledger.type }}</span></i>
        <h3 align="right">

</h3>
<br>

                <h4 align="center"><u>BALANCE</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &#8377;&nbsp;&nbsp;<b>{{ amount }}</b> &nbsp;&nbsp;&nbsp;{{ type }}</h5><br>

<div>
{% if ledger.name != 'Cash' %}
<form class="form-horizontal" role="form" action="{% url 'transaction:transaction_add' id ledger.id %}" method="post">
    {% csrf_token %}
<div class="row">
        <div class="col-sm-offset-1 col-sm-10">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th><h4 style="font-family: 'Nimbus Mono L';font-size: 24px;"><b><u>Type</u></b></h4></th>
                        <th><h4 style="font-family: 'Nimbus Mono L';font-size: 24px;"><b><u>Amount</u></b></h4></th>
                        <th><h4 style="font-family: 'Nimbus Mono L';font-size: 24px;"><b><u>Voucher Number</u></b></h4></th>
                        <th><h4 style="font-family: 'Nimbus Mono L';font-size: 24px;"><b><u>Description</u></b></h4></th>
                    </tr>
                </thead>
                <tbody id="table">
                    <tr>

                        <th><select name="type">
                            <option>Impress</option>
                            <option>Expense</option>
                            <option>Receive</option>

                        </select> </th>

                        <th>Rs.&nbsp;<input type="number" style="width: 100px;" name="amount" required> </th>
                        <th>
                            <input type="number" autocomplete="off" style="width: 80px;" name="voucher">

                        </th>
                        <th>
                             <input autocomplete="off" style="width: 250px;" type="text" placeholder="Description" name="description">
                        </th>
                        </tr>

                </tbody>

            </table>
             </div>
    </div>
    <h3 align="center">

    <button style="width:1000px;" type="submit" class="btn btn-primary">Make Entry</button>
</form>
{% endif %}
</div>
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Transaction Type</th>
                        <th>Date of Transaction</th>
                        {% if ledger.name != 'Cash' %}<th>Voucher Number</th>{% endif %}

                        <th>Credit</th>
                        <th>Debit</th>
                    </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td><h5 style="color:blue">{{ transaction.description }}</h5></td>
                        <td>{{ transaction.voucher_type }}
                        </td>
                        <td>{{ transaction.created }}</td>
                        {% if ledger.name != 'Cash' %}
                            <td>{% if transaction.voucher.voucher_no != '-1'  %}
                                {{ transaction.voucher.voucher_no }}
                                {% endif %}
                                </td>{% endif %}
                        {% if transaction.type == 'Credit' %}<td>
                            <h5 style="color:blue">&#8377;&nbsp;&nbsp;&nbsp;{{ transaction.amount }}</h5></td>{% endif %}
                        {% if transaction.type == 'Debit' %}<td> ---</td>{% endif %}
                        {% if transaction.type == 'Debit' %}<td>
                            <h5 style="color:red">&#8377;&nbsp;&nbsp;&nbsp;{{ transaction.amount }}</h5></td>{% endif %}
                        {% if transaction.type == 'Credit' %}<td> ---</td>{% endif %}
                        <td>
                    <tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}
